/* ==UserStyle==
@name           Denser Twitch Chat
@description    Less padding for chat means more messages and more room for video.
@version        20190601.0.0
@author         keturn (https://keturn.net)
@namespace      keturn.net
@homepageURL    https://gitlab.com/keturn/denser-chat-usercss
@supportURL     https://gitlab.com/keturn/denser-chat-usercss/issues
@updateURL      https://gitlab.com/keturn/denser-chat-usercss/raw/master/denser-chat.user.css
@license        MIT-0
==/UserStyle== */

@-moz-document domain("www.twitch.tv") {
    /* inital content width: 374 computed (425px (34rem) total,  25px (2rem) padding on each side) */
    
    :root {
        --dtc-line-side-padding: 4px;  /* default was 2rem (25px) */
        --dtc-right-column: calc(34rem - (2 * (2rem - var(--dtc-line-side-padding))));
    }
    
     .chat-line__message, .chat-line__moderation, .chat-line__status {
        padding: 0 var(--dtc-line-side-padding);
    }
     
    .chat-input {
        padding-left: 0 !important;
        padding-right: 0 !important;
        /* there's padding-bottom, but theatre mode gets weird without it */
    }

    /* makes the entire right bar narrower to keep chat lines same width but with less padding */
    .right-column--beside, .right-column--theatre.right-column--beside, .right-column--beside .channel-root__right-column {
        width: var(--dtc-right-column);
    }
    
    /* make theatre mode wider to match */
    .persistent-player--theatre {
        width: calc(100% - var(--dtc-right-column)) !important; /* theatre uses inline style, so must use !important */
    }
    
}